<?xml version='1.0' encoding='utf-8'?>
<plist version="1.0"><dict><key>frames</key><dict><key>2.png</key><dict><key>frame</key><string>{{28,0},{27,484}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false /><key>sourceSize</key><string>{27,484}</string></dict><key>3.png</key><dict><key>frame</key><string>{{56,0},{26,454}}</string><key>offset</key><string>{0,14}</string><key>rotated</key><false /><key>sourceSize</key><string>{27,484}</string></dict><key>1.png</key><dict><key>frame</key><string>{{0,0},{27,484}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false /><key>sourceSize</key><string>{27,484}</string></dict></dict><key>metadata</key><dict><key>format</key><integer>2</integer><key>realTextureFileName</key><string>laser.png</string><key>textureFileName</key><string>laser.png</string></dict></dict></plist>