<?xml version='1.0' encoding='utf-8'?>
<plist version="1.0"><dict><key>frames</key><dict><key>2.png</key><dict><key>frame</key><string>{{95,141},{140,24}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false /><key>sourceSize</key><string>{140,24}</string></dict><key>1.png</key><dict><key>frame</key><string>{{0,0},{298,140}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false /><key>sourceSize</key><string>{298,140}</string></dict><key>finger1.png</key><dict><key>frame</key><string>{{0,141},{94,106}}</string><key>offset</key><string>{16,0}</string><key>rotated</key><false /><key>sourceSize</key><string>{110,109}</string></dict></dict><key>metadata</key><dict><key>format</key><integer>2</integer><key>realTextureFileName</key><string>guide.png</string><key>textureFileName</key><string>guide.png</string></dict></dict></plist>