<?xml version='1.0' encoding='utf-8'?>
<plist version="1.0"><dict><key>frames</key><dict><key>des.png</key><dict><key>frame</key><string>{{0,584},{174,25}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false /><key>sourceSize</key><string>{174,25}</string></dict><key>title.png</key><dict><key>frame</key><string>{{0,453},{452,130}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false /><key>sourceSize</key><string>{452,130}</string></dict><key>guang.png</key><dict><key>frame</key><string>{{0,0},{452,452}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false /><key>sourceSize</key><string>{452,452}</string></dict></dict><key>metadata</key><dict><key>format</key><integer>2</integer><key>realTextureFileName</key><string>buff.png</string><key>textureFileName</key><string>buff.png</string></dict></dict></plist>