<?xml version='1.0' encoding='utf-8'?>
<plist version="1.0"><dict><key>frames</key><dict><key>img_v.png</key><dict><key>frame</key><string>{{0,0},{480,771}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false /><key>sourceSize</key><string>{480,771}</string></dict><key>head.png</key><dict><key>frame</key><string>{{481,111},{166,52}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false /><key>sourceSize</key><string>{166,52}</string></dict><key>btn_close.png</key><dict><key>frame</key><string>{{481,0},{291,110}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false /><key>sourceSize</key><string>{291,110}</string></dict></dict><key>metadata</key><dict><key>format</key><integer>2</integer><key>realTextureFileName</key><string>notice.png</string><key>textureFileName</key><string>notice.png</string></dict></dict></plist>