<?xml version='1.0' encoding='utf-8'?>
<plist version="1.0"><dict><key>frames</key><dict><key>img_warning.png</key><dict><key>frame</key><string>{{0,0},{602,535}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false /><key>sourceSize</key><string>{602,535}</string></dict><key>agree.png</key><dict><key>frame</key><string>{{0,536},{291,110}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false /><key>sourceSize</key><string>{291,110}</string></dict></dict><key>metadata</key><dict><key>format</key><integer>2</integer><key>realTextureFileName</key><string>tips.png</string><key>textureFileName</key><string>tips.png</string></dict></dict></plist>