<?xml version='1.0' encoding='utf-8'?>
<plist version="1.0"><dict><key>frames</key><dict><key>guideTips.png</key><dict><key>frame</key><string>{{0,0},{46,59}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false /><key>sourceSize</key><string>{46,59}</string></dict></dict><key>metadata</key><dict><key>format</key><integer>2</integer><key>realTextureFileName</key><string>guideTips.png</string><key>textureFileName</key><string>guideTips.png</string></dict></dict></plist>