<?xml version='1.0' encoding='utf-8'?>
<plist version="1.0"><dict><key>frames</key><dict><key>bg.png</key><dict><key>frame</key><string>{{0,0},{36,48}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false /><key>sourceSize</key><string>{36,48}</string></dict><key>bg_frame.png</key><dict><key>frame</key><string>{{37,0},{36,48}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false /><key>sourceSize</key><string>{36,48}</string></dict></dict><key>metadata</key><dict><key>format</key><integer>2</integer><key>realTextureFileName</key><string>tips.png</string><key>textureFileName</key><string>tips.png</string></dict></dict></plist>