<?xml version='1.0' encoding='utf-8'?>
<plist version="1.0"><dict><key>frames</key><dict><key>2.png</key><dict><key>frame</key><string>{{0,61},{88,59}}</string><key>offset</key><string>{19,1}</string><key>rotated</key><false /><key>sourceSize</key><string>{128,64}</string></dict><key>3.png</key><dict><key>frame</key><string>{{89,61},{88,31}}</string><key>offset</key><string>{22,29}</string><key>rotated</key><false /><key>sourceSize</key><string>{128,64}</string></dict><key>1.png</key><dict><key>frame</key><string>{{0,0},{90,60}}</string><key>offset</key><string>{19,0}</string><key>rotated</key><false /><key>sourceSize</key><string>{128,64}</string></dict></dict><key>metadata</key><dict><key>format</key><integer>2</integer><key>realTextureFileName</key><string>build_dizzy.png</string><key>textureFileName</key><string>build_dizzy.png</string></dict></dict></plist>