<?xml version='1.0' encoding='utf-8'?>
<plist version="1.0"><dict><key>frames</key><dict><key>2.png</key><dict><key>frame</key><string>{{0,0},{53,71}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false /><key>sourceSize</key><string>{53,71}</string></dict><key>1.png</key><dict><key>frame</key><string>{{54,0},{32,88}}</string><key>offset</key><string>{0,0}</string><key>rotated</key><false /><key>sourceSize</key><string>{32,88}</string></dict></dict><key>metadata</key><dict><key>format</key><integer>2</integer><key>realTextureFileName</key><string>chuizi.png</string><key>textureFileName</key><string>chuizi.png</string></dict></dict></plist>